<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# H1: Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. SciPy


| Data Science Tools |
| ------------------- |
| Apache Netbeans | 
| Codelite |
| Aptana |
| Eclipse |

### H3: Below are a few examples of evaluating arithmetic expressions in Python
1. 4 * 3 - 2
2. 15 / 5
3. 55 / 11 + 5 - 5

In [4]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

1. Create a Jupyter Notebook
2. Insert code and markdown cells
3. Share your notebook through GitHub

List popular languages for Data Science

* Numpy
* Pandas
* SciPy

## Author
Anatolii Foster